p {
    margin: 0;
}

.negrito {
    font-weight: bold;
}

.text-green {
    color: #139153;
}

.page-link-green {
    background-color: #139153;
    border-color: #139153;
}

.active .page-link {
    color: #FFF;
}

.page-link {
    color: #139153;
}